{% extends "layout.html" %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <h3 style="color:#ff6699">Create account</h3>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control"
                   name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Retype password"
                   type="password"/>
        </div>
        <button style= "background-color:#ffe6ee; border-color:#ff6699; color:#ff6699"
                class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}